<div class="row">
	<div class="span8" style="background-color:red; height:400px;">SLIDE DE NOTÍCIAS</div>
	<div class="span4">reteste</div>
</div>

<hr/>

<div class="row">
	<div class="span4" style="background-color:gray; height:400px;"> POLÍTICA</div>
	<div class="span4" style="background-color:blue; height:400px;"> URBANO</div>
	<div class="span4" style="background-color:orange; height:400px;"> ESPORTE</div>
</div>

<hr/>

<div class="row">
	<div class="span12" style="background-color:gray; height:400px;">PUBLICIDADE</div>
</div>

<hr/>

<div class="row">
	<div class="span4" style="background-color:gray; height:200px;">AGENDA CULTURAL</div>
	<div class="span4" style="background-color:blue; height:200px;">DICAS DE BARES E RESTAURANTES</div>
	<div class="span4" style="background-color:orange; height:200px;">POLÍCIA</div>
</div>


<hr/>

<div class="row">
	<div class="span4" style="background-color:gray; height:400px;"> ECONOMIA</div>
	<div class="span4" style="background-color:blue; height:400px;"> CADERNO F</div>
	<div class="span4" style="background-color:orange; height:400px;">ESTILO</div>

	<div class="span4" style="background-color:gray; height:400px;"> VIVER</div>
	<div class="span4" style="background-color:blue; height:400px;"> COMPRAR</div>
	<div class="span4" style="background-color:orange; height:400px;">NAVEGAR</div>

</div>

<hr/>

<div class="row">

	<div class="span8" style="background-color:blue; height:400px;"> PROPAGANDAS - CLASSIFOLHA - CARROS -  COCA-COLA</div>
	<div class="span4" style="background-color:orange; height:400px;">LINK JORNAL IMPRESSO</div>

</div>